@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #334155;
  font-family:'Poppins' ;
}

.container{
    width: 100% ;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .text{
    font-size: 30px;
    margin: 5px;
}

.sec-text{
    position: relative;
}

.sec-text::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-left: 4px solid blue;
    background-color: #334155;
    animation: MoveLeft 4s steps(12) infinite;
}

@keyframes MoveLeft {
  0%,40%,60%{
    left: 0;
    right: 0;
  }
  80%,100%{
    left: 100%;
    right: 100%;
  }
}