*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #6d6b6b;
}
.container{
    width: 700px;
    height: 500px;
    margin: 100px 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.hamburgerContainer{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}
.line{
    width: 100%;
    height:5px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: all .2s ease;
}
.showItems{
    width:92%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    transition: all .5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
ul{
    font: 20px arial;
    list-style: none;
    position: absolute;
    top: 50px;
    right:150px;
}
li{
    margin-bottom: 20px;
}

.ItemCH{
    opacity: 1;
}
.line2CH{
    opacity: 0;
}
.line1CH{
    transform: rotate(45deg) translate(12px,9px);

}
.line3CH{
    transform: rotate(-45deg) translate(12px,-9px);
}
